* {
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
}

.gras {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.logo {
  width: 25%;
}
.logo__image {
  width: 100%;
  height: 100%;
}

.rechercheAvance {
  width: 100%;
  height: 4em;
  display: inline-flex;
  margin-bottom: 30px;
}
.rechercheAvance__input {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 15px;
  width: 95%;
  font-size: 1em;
  height: 100%;
}
.rechercheAvance__button {
  width: 5%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 2em;
}
@media only screen and (max-width: 700px) {
  .rechercheAvance__button {
    font-size: 1em;
  }
}

.listeTag {
  display: flex;
  flex-wrap: wrap;
}
.listeTag__ingredient {
  list-style: none;
  padding: 8px;
  background-color: #3282f7;
  border-radius: 5px;
  color: white;
  margin: 0 1em 1em 0;
  cursor: pointer;
}
.listeTag__appareil {
  list-style: none;
  padding: 8px;
  background-color: #68d9a4;
  border-radius: 5px;
  color: white;
  margin: 0 1em 1em 0;
  cursor: pointer;
}
.listeTag__ustensiles {
  list-style: none;
  padding: 8px;
  background-color: #ed6454;
  border-radius: 5px;
  color: white;
  margin: 0 1em 1em 0;
  cursor: pointer;
}

.rechercheTag {
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: relative;
}
@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .rechercheTag {
    width: 75%;
  }
}
@media only screen and (max-width: 700px) {
  .rechercheTag {
    flex-direction: column;
    width: 100%;
  }
}

.rechercheIngredient {
  height: 4em;
  display: inline-flex;
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .rechercheIngredient {
    width: 100%;
    margin: 5px 0;
  }
}
.rechercheIngredient__input {
  background-color: #3282f7;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 15px;
  font-size: 1em;
  height: 100%;
  width: 85%;
}
.rechercheIngredient__button {
  background-color: #3282f7;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 15px 0 0;
  font-size: 1.5em;
  width: 15%;
}

.rechercheIngredientAside--active {
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 50%;
  max-height: 310px;
  top: 4em;
  background-color: #3282f7;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
  .rechercheIngredientAside--active {
    top: 4em;
    left: 0;
    width: 100%;
  }
}
.rechercheIngredientAside__item {
  list-style: none;
  color: white;
  width: 31%;
  padding-left: 2%;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.rechercheIngredientAside--inactive {
  display: none;
}

.rechercheAppareil {
  height: 4em;
  display: inline-flex;
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .rechercheAppareil {
    width: 100%;
    margin: 5px 0;
  }
}
.rechercheAppareil__input {
  background-color: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 15px;
  font-size: 1em;
  height: 100%;
  width: 85%;
}
.rechercheAppareil__button {
  background-color: #68d9a4;
  color: white;
  padding: 0 15px 0 0;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.5em;
  width: 15%;
}

.rechercheAppareilAside--active {
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 50%;
  max-height: 310px;
  top: 4em;
  left: 25%;
  background-color: #68d9a4;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
  .rechercheAppareilAside--active {
    top: 8.5em;
    left: 0;
    width: 100%;
  }
}
.rechercheAppareilAside__item {
  list-style: none;
  color: white;
  width: 31%;
  padding-left: 2%;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.rechercheAppareilAside--inactive {
  display: none;
}

.rechercheUstensiles {
  height: 4em;
  display: inline-flex;
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .rechercheUstensiles {
    width: 100%;
    margin: 5px 0;
  }
}
.rechercheUstensiles__input {
  background-color: #ed6454;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 15px;
  font-size: 1em;
  height: 100%;
  width: 85%;
}
.rechercheUstensiles__button {
  background-color: #ed6454;
  color: white;
  padding: 0 15px 0 0;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.5em;
  width: 15%;
}

.rechercheUstensilesAside--active {
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 50%;
  max-height: 310px;
  top: 4em;
  left: 50%;
  background-color: #ed6454;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
  .rechercheUstensilesAside--active {
    top: 13.5em;
    left: 0;
    width: 100%;
  }
}
.rechercheUstensilesAside__item {
  list-style: none;
  color: white;
  width: 31%;
  padding-left: 2%;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.rechercheUstensilesAside--inactive {
  display: none;
}

.listeRecettes {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}
@media only screen and (max-width: 700px) {
  .listeRecettes {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1300px) {
  .listeRecettes {
    grid-template-columns: repeat(2, 2fr);
  }
}

.recette {
  margin: 30px 0 0 0;
  height: 30em;
  background-color: #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}
.recette__image {
  width: 100%;
  height: 50%;
  background-color: #c7bebe;
}
.recette__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}
.recette__header__titre {
  font-weight: 500;
}
.recette__header__temps {
  font-size: 20px;
  display: flex;
}
.recette__body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 24%;
}
.recette__body__ingredients {
  width: 50%;
  font-size: 15px;
}
.recette__body__description {
  font-size: 15px;
  width: 45%;
  overflow: hidden;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
