.rechercheAvance{
    width: 100%;
    height: 4em;
    display: inline-flex;
    margin-bottom: 30px;
    &__input{
        background-color: $lightgray;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 15px;
        width: 95%;
        font-size: 1em;
        height: 100%;
    }
    &__button{
        width: 5%;
        background-color: $lightgray;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 2em;
        @media only screen and (max-width : 700px){
            font-size: 1em;
        }    
    }
}

.rechercheTag{
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    @media only screen and (min-width : 700px) and (max-width : 1300px){
        width: 75%;
    }
    @media only screen and (max-width : 700px){
        flex-direction: column;
        width: 100%;
    }
}

.rechercheIngredient{
    height: 4em;
    display: inline-flex;
    width: 30%;
    @media only screen and (max-width : 700px){
        width: 100%;
        margin: 5px 0;
    }
    &__input{
        background-color: $blue;
        color: white;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 15px;
        font-size: 1em;
        height: 100%;
        width: 85%;
    }
    &__button{
        background-color: $blue;
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        padding:  0 15px 0 0;
        font-size: 1.5em;
        width: 15%;
    }
}

.rechercheIngredientAside{
    &--active{
        display: block;
        position: absolute;
        width: 50%;
        height: 200px;
        top:4em;
        background-color: purple;    
    }
    &__liste{
        background: red;
    }
    &--inactive{
        display: none;
    }
}

.rechercheAppareil{
    height: 4em;
    display: inline-flex;
    width: 30%;
    @media only screen and (max-width : 700px){
        width: 100%;
        margin: 5px 0;
    }
    &__input{
        background-color: $green;
        color: white;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 15px;
        font-size: 1em;
        height: 100%;
        width: 85%;
    }
    &__button{
        background-color: $green;
        color: white;
        padding:  0 15px 0 0;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 1.5em;
        width: 15%;
    }
}

.rechercheAppareilAside{
    &--active{
        display: block;
        position: absolute;
        width: 50%;
        height: 200px;
        top:4em;
        background-color: green;    
    }
    &__liste{
        background: red;
    }
    &--inactive{
        display: none;
    }
}

.rechercheUstensiles{
    height: 4em;
    display: inline-flex;
    width: 30%;
    @media only screen and (max-width : 700px){
        width: 100%;
        margin: 5px 0;
    }
    &__input{
        background-color: $red;
        color: white;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 15px;
        font-size: 1em;
        height: 100%;
        width: 85%;
    }
    &__button{
        background-color: $red;
        color: white;
        padding:  0 15px 0 0;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 1.5em;
        width: 15%;
    }
}

.rechercheUstensilesAside{
    &--active{
        display: block;
        position: absolute;
        width: 50%;
        height: 500px;
        top:4em;
        background-color: lightblue;    
    }
    &__liste{
        background: red;
    }
    &--inactive{
        display: none;
    }
}

.listeRecettes{
    display: flex;
    flex-wrap: wrap;
}
.recette{
    margin: 30px 3% 0 0;
    width: 30%;
    height: 30em;
    background-color: $lightgray;
    border-radius: 5px;
    overflow: hidden;
    @media only screen and (min-width : 701px) and (max-width : 1300px){
        width: 48%;
    }
    @media only screen and (max-width : 700px){
        width: 100%;
    }
    &__image{
        width: 100%;
        height: 50%;
        background-color: $gray;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        &__titre{
            font-weight: 500;
        }
        &__temps{
            font-size: 20px;
            display: flex;
        }
    }
    &__body{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        height: 24%;
        &__ingredients{
            width: 50%;
            font-size: 15px;
        }
        &__description{
            font-size: 15px;
            width: 45%;
            overflow: hidden;
            height: 100%;
        }
    }
}